@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
* {
   box-sizing: border-box;
   user-select: none;
}

a {
   color: #fff;
   text-decoration: none;
}

body {
   margin: 0;
   padding: 0;
   height: 100vh;
   color: white;
   background: black;
   font-family: "Cormorant Garamond", serif;
   text-transform: uppercase;
}

h2 {
   font-size: clamp(1rem, 5vw, 5rem);
   font-weight: 400;
   text-align: center;
   letter-spacing: 0.5em;
   margin-right: -0.5em;
   color: #cccccc;
   width: 90vw;
   max-width: 1200px;
}

header {
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 5%;
   width: 100%;
   z-index: 3;
   height: 7em;
   font-family: "Bebas Neue", sans-serif;
   font-size: clamp(0.66rem, 2vw, 1rem);
   letter-spacing: 0.5em;
}

section {
   height: 100%;
   width: 100%;
   top: 0;
   position: fixed;
   visibility: hidden;
}
section .outer,
section .inner {
   width: 100%;
   height: 100%;
   overflow-y: hidden;
}
section .bg {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   background-size: cover;
   background-position: center;
}
section .bg h2 {
   z-index: 2;
}
section .bg .clip-text {
   overflow: hidden;
}

.first .bg {
   background-image: linear-gradient(
         180deg,
         rgba(0, 0, 0, 0.6) 0%,
         rgba(0, 0, 0, 0.3) 100%
      ),
      url(https://www.whatonearthbooks.com/content/uploads/2015/04/ScienceSpread1-4-593x400.jpg);
}

.second .bg {
   background-image: linear-gradient(
         180deg,
         rgba(0, 0, 0, 0.6) 0%,
         rgba(0, 0, 0, 0.3) 100%
      ),
      url(https://i.pinimg.com/originals/5c/30/6b/5c306b39b497770e5d3d0469a67e4d5e.jpg);
}

.third .bg {
   background-image: linear-gradient(
         180deg,
         rgba(0, 0, 0, 0.6) 0%,
         rgba(0, 0, 0, 0.3) 100%
      ),
      url(https://1.bp.blogspot.com/-QcMJQ_N-7oM/XvcOPRfDCzI/AAAAAAAAAPw/eJ_k4ZTJCD06YP5B4aodEQ6iLEA92g20gCK4BGAsYHg/s1243/filafat.jpg);
}

.fourth .bg {
   background-image: linear-gradient(
         180deg,
         rgba(0, 0, 0, 0.6) 0%,
         rgba(0, 0, 0, 0.3) 100%
      ),
      url(https://2.bp.blogspot.com/-aVGOc1RGnf4/ToxG8IuLXyI/AAAAAAAAABI/BH_B3MtRC0c/s1600/Diogenes_Jordaens.jpg);
}

h2 * {
   will-change: transform;
}
